{% extends "shared/_MainLayout.html" %}
{% load static %}
{% block header_ref %}
    <link rel="stylesheet" href="{% static 'nicepage.css' %}">
    <style class="u-style">.u-section-2 {
        min-height: 1111px;
        background-image: none
    }

    .u-section-2 .u-image-1 {
        height: 609px;
        margin: 0 auto 0 0
    }

    .u-section-2 .u-list-1 {
        min-height: 553px;
        grid-template-columns: repeat(3, calc(33.3333% - 7px));
        height: auto;
        width: 1140px;
        grid-gap: 10px;
        margin: -184px auto 0
    }

    .u-section-2 .u-list-item-1 {
        background-image: none
    }

    .u-section-2 .u-container-layout-1 {
        padding: 30px
    }

    .u-section-2 .u-image-2 {
        width: 240px;
        height: 240px;
        background-image: url("https://images03.nicepage.io/c461c07a441a5d220e8feb1a/11824bb9791250b9b0281f98/2.jpg");
        background-position: 50% 50%;
        margin: 0 auto
    }

    .u-section-2 .u-text-1 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 20px 0 0
    }

    .u-section-2 .u-text-2 {
        font-weight: 700;
        margin: 12px 0 0
    }

    .u-section-2 .u-text-3 {
        font-style: italic;
        margin: 23px -2px 0
    }

    .u-section-2 .u-icon-1 {
        height: 64px;
        width: 64px;
        margin: 30px auto 0
    }

    .u-section-2 .u-list-item-2 {
        background-image: none
    }

    .u-section-2 .u-container-layout-2 {
        padding: 30px
    }

    .u-section-2 .u-image-3 {
        width: 240px;
        height: 240px;
        background-image: url("https://images02.nicepage.io/c461c07a441a5d220e8feb1a/6d9f8735a63c598ba23f0ec0/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg");
        background-position: 50% 50%;
        margin: 0 auto
    }

    .u-section-2 .u-text-4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 20px 0 0
    }

    .u-section-2 .u-text-5 {
        font-weight: 700;
        margin: 12px 0 0
    }

    .u-section-2 .u-text-6 {
        font-style: italic;
        margin: 23px -2px 0
    }

    .u-section-2 .u-icon-2 {
        height: 64px;
        width: 64px;
        margin: 30px auto 0
    }

    .u-section-2 .u-list-item-3 {
        background-image: none
    }

    .u-section-2 .u-container-layout-3 {
        padding: 30px
    }

    .u-section-2 .u-image-4 {
        width: 240px;
        height: 240px;
        background-image: url("https://images02.nicepage.io/c461c07a441a5d220e8feb1a/ebe810d3c12f5550b0cf6ac7/3.jpg");
        background-position: 50% 50%;
        margin: 0 auto
    }

    .u-section-2 .u-text-7 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 20px 0 0
    }

    .u-section-2 .u-text-8 {
        font-weight: 700;
        margin: 12px 0 0
    }

    .u-section-2 .u-text-9 {
        font-style: italic;
        margin: 23px -2px 0
    }

    .u-section-2 .u-icon-3 {
        height: 64px;
        width: 64px;
        margin: 30px auto 0
    }

    .u-section-2 .u-text-10 {
        margin: 37px auto 60px
    }

    .u-section-2 .u-btn-1 {
        border-style: none none solid;
        padding: 0
    }

    @media (max-width: 1199px) {
        .u-section-2 {
            min-height: 1014px
        }

        .u-section-2 .u-image-1 {
            margin-right: initial;
            margin-left: initial
        }

        .u-section-2 .u-list-1 {
            min-height: 456px;
            grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
            width: 940px
        }
    }

    @media (max-width: 991px) {
        .u-section-2 {
            min-height: 1606px
        }

        .u-section-2 .u-list-1 {
            min-height: 1048px;
            grid-template-columns: repeat(2, calc(((100% - 720px) / 2) + 355px));
            width: 720px
        }
    }

    @media (max-width: 767px) {
        .u-section-2 .u-list-1 {
            grid-template-columns: 100%;
            width: 540px
        }
    }

    @media (max-width: 575px) {
        .u-section-2 .u-list-1 {
            width: 340px
        }
    }</style>

{% endblock %}
{% block content %}
    <section class="u-align-center u-clearfix u-grey-90 u-section-2" id="carousel_b94a">
        <img class="u-expand-resize u-expanded-width u-image u-image-1"
             src="https://images03.nicepage.io/c461c07a441a5d220e8feb1a/6ba6351e480757c3a03abdad/fgd-min.jpg">
        <div class="u-list u-repeater u-list-1">
            {% for team in teams %}
                <div class="u-align-center u-container-style u-grey-80 u-list-item u-opacity u-opacity-90 u-repeater-item u-list-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <img src="{{ team.image.url }}" alt="{{ team.name }}--{{ team.job }}"
                             class="u-image u-image-circle u-image-2" data-image-width="598"
                             data-image-height="598">
                        <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-1">{{ team.name }}</h3>
                        <p class="u-align-center u-text u-text-palette-1-base u-text-2">{{ team.job }}</p>
                        <p class="u-align-right u-text u-text-default u-text-6"></p><span
                            class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"><a href="{{ team.telegram }}">
                    <svg class="u-svg-link"
                         preserveAspectRatio="xMidYMin slice"
                         viewBox="0 0 24 24" style=""><use
                            xlink:href="#svg-fa54"></use></svg><svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    version="1.1"
                                                                    xml:space="preserve" class="u-svg-content"
                                                                    viewBox="0 0 24 24" id="svg-fa54"
                                                                    style="color: currentcolor;"><circle cx="12" cy="12" fill="currentColor" r="12"></circle><path
                            d="m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z"
                            fill="#fff"></path></svg>
                </a></span>
                    </div>
                </div>
            {% endfor %}


        </div>
    </section>
{% endblock %}