* { font-family: Speda;
    src:"fonts/Speda.eot";
    src: url('fonts/Speda.eot?#iefix') format('embedded-opentype'), url('fonts/Speda.woff') format('woff'), url('fonts/Speda.ttf') format('truetype');
    font-weight: normal;}

 
.hero-btn {
    font-family: Speda;
    width: 200px;
   left: 0;
display: flex;
position: relative;
    height: 66px;
    
}

.hero-btn .btn {
    box-shadow: 10px 10px 5px -5px rgb(15, 15, 15);
    background-color: rgb(243, 207, 110);
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(24, 24, 24);
    display: inline-block;
    width: 170px;
    height: 50px;
   
   text-align: center;
   font-family: Speda;
   src:"fonts/Speda.eot";
   src: url('fonts/Speda.eot?#iefix') format('embedded-opentype'), url('fonts/Speda.woff') format('woff'), url('fonts/Speda.ttf') format('truetype');
   font-weight: normal;
    font-size: 22px;
    letter-spacing: 2px;
    border-radius: 60px;
    transform: perspective(600px) rotateX(0deg) scale(1);
    transition: all 0.2s linear;
}

.hero-btn .btn:hover {
    background-color: #ffffff;
    color: rgb(24, 24, 24);
}

.hero-btn .btn:active {
    transform: perspective(600px) rotateX(10deg) scale(0.9);
    font-size: 21px;
}

.active .hero-btn .btn:active {
    -moz-transform: perspective(600px) rotateX(0deg) scale(1);
    -ms-transform: perspective(600px) rotateX(0deg) scale(1);
    -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
    transform: perspective(600px) rotateX(0deg) scale(1);
    font-size: 22px;
}

.hero-btn .particles-circle {
    position: absolute;
    background-color: rgb(255, 230, 0);
    width: 30px;
    height: 30px;
    top: 10px;
    z-index: -1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
}

.hero-btn .particles-circle:nth-of-type(odd) {
    border: solid 2px rgb(44, 44, 44);
    background-color: transparent;
}

@keyframes particles-1 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 19px;
        top: -202px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(1) {
    animation: particles-1 1.5s 0.025s;
}

@keyframes particles-2 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -12px;
        top: -121px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(2) {
    animation: particles-2 1.5s 0.05s;
}

@keyframes particles-3 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 113px;
        top: 37px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(3) {
    animation: particles-3 1.5s 0.075s;
}

@keyframes particles-4 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 7px;
        top: -151px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(4) {
    animation: particles-4 1.5s 0.1s;
}

@keyframes particles-5 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 128px;
        top: -76px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(5) {
    animation: particles-5 1.5s 0.125s;
}

@keyframes particles-6 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 187px;
        top: 150px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(6) {
    animation: particles-6 1.5s 0.15s;
}

@keyframes particles-7 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 133px;
        top: -185px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(7) {
    animation: particles-7 1.5s 0.175s;
}

@keyframes particles-8 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -77px;
        top: -185px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(8) {
    animation: particles-8 1.5s 0.2s;
}

@keyframes particles-9 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 213px;
        top: -222px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(9) {
    animation: particles-9 1.5s 0.225s;
}

@keyframes particles-10 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -84px;
        top: 67px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(10) {
    animation: particles-10 1.5s 0.25s;
}

@keyframes particles-11 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -1px;
        top: 232px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(11) {
    animation: particles-11 1.5s 0.275s;
}

@keyframes particles-12 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -162px;
        top: -118px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(12) {
    animation: particles-12 1.5s 0.3s;
}

@keyframes particles-13 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 87px;
        top: 126px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(13) {
    animation: particles-13 1.5s 0.325s;
}

@keyframes particles-14 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -62px;
        top: 0px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(14) {
    animation: particles-14 1.5s 0.35s;
}

@keyframes particles-15 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -212px;
        top: -27px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(15) {
    animation: particles-15 1.5s 0.375s;
}

@keyframes particles-16 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -37px;
        top: 131px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(16) {
    animation: particles-16 1.5s 0.4s;
}

@keyframes particles-17 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 80px;
        top: -157px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(17) {
    animation: particles-17 1.5s 0.425s;
}

@keyframes particles-18 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -155px;
        top: 133px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(18) {
    animation: particles-18 1.5s 0.45s;
}

@keyframes particles-19 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -25px;
        top: -201px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(19) {
    animation: particles-19 1.5s 0.475s;
}

@keyframes particles-20 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -209px;
        top: 33px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(20) {
    animation: particles-20 1.5s 0.5s;
}

@keyframes particles-21 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -34px;
        top: 95px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(21) {
    animation: particles-21 1.5s 0.525s;
}

@keyframes particles-22 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 85px;
        top: 82px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(22) {
    animation: particles-22 1.5s 0.55s;
}

@keyframes particles-23 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 111px;
        top: 60px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(23) {
    animation: particles-23 1.5s 0.575s;
}

@keyframes particles-24 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 150px;
        top: 192px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(24) {
    animation: particles-24 1.5s 0.6s;
}

@keyframes particles-25 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 243px;
        top: 34px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(25) {
    animation: particles-25 1.5s 0.625s;
}

@keyframes particles-26 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -68px;
        top: 200px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(26) {
    animation: particles-26 1.5s 0.65s;
}

@keyframes particles-27 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -27px;
        top: 148px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(27) {
    animation: particles-27 1.5s 0.675s;
}

@keyframes particles-28 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -31px;
        top: -44px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(28) {
    animation: particles-28 1.5s 0.7s;
}

@keyframes particles-29 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 60px;
        top: 19px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(29) {
    animation: particles-29 1.5s 0.725s;
}

@keyframes particles-30 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -28px;
        top: 35px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(30) {
    animation: particles-30 1.5s 0.75s;
}

@keyframes particles-31 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 70px;
        top: -35px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(31) {
    animation: particles-31 1.5s 0.775s;
}

@keyframes particles-32 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: -2px;
        top: -228px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(32) {
    animation: particles-32 1.5s 0.8s;
}

@keyframes particles-33 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 28px;
        top: -51px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(33) {
    animation: particles-33 1.5s 0.825s;
}

@keyframes particles-34 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 100px;
        top: -170px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(34) {
    animation: particles-34 1.5s 0.85s;
}

@keyframes particles-35 {
    from {
        transform: scale(1);
        visibility: visible;
    }
    to {
        left: 100px;
        top: -44px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(35) {
    animation: particles-35 1.5s 0.875s;
}

.v-align {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    max-height: 90vh;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wrap__sparks {
    transform: translateZ(-100px);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
