{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}

{% block content %}
    {#search is here#}
    <section class="u-align-left u-clearfix u-grey-90 u-section-1" id="sec-96d5">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-align-center u-text u-text-default u-text-1">چە کلمە ای رو بە کردی میخوای؟</h1>
            <div class="u-form u-form-1">
                <form action="/words/search" method="get"
                      class="u-clearfix u-form-custom-backend u-form-spacing-34 u-form-vertical u-inner-form"
                      style="padding: 10px" source="custom" name="form" redirect="true">
                    <div class="u-form-group u-form-name u-form-group-1">
                        <label for="name-1d74" class="u-form-control-hidden u-label">Name</label>
                        <input type="text" placeholder="Type a 🇮🇷  word or kurdish word" id="name-1d74" name="q"
                               class="u-border-5 u-border-grey-80 u-border-radius-7 u-grey-80 u-input u-input-round"
                               required="">
                    </div>
                    <div class="u-align-center u-form-group u-form-submit u-form-group-2">
                        <a href="#" class="u-btn u-btn-rectangle u-btn-submit u-button-style u-palette-3-base u-btn-1">جست
                            و جو<br>
                        </a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                </form>
            </div>
        </div>
    </section>
    {#result_search#}
    {% for word in object_list %}
        <section class="u-clearfix u-grey-90 u-section-2" id="sec-caad">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-align-right u-border-radius-9 u-container-style u-grey-80 u-group u-shape-round u-group-1"
                     data-animation-name="pulse" data-animation-duration="1000" data-animation-delay="0"
                     data-animation-direction="" style="will-change: auto;">

                    <div class="u-container-layout u-container-layout-1">
                        <img src="{% static 'images/cloud.png' %}" alt="" class="u-image u-image-default u-image-1"
                             data-image-width="18"
                             data-image-height="13">
                        <img src="{% static 'images/yes.png' %}" alt="" class="u-image u-image-default u-image-2"
                             data-image-width="13"
                             data-image-height="10">

                        <p>فارسی</p>
                            <p>{{ word.persian }}</p>

                        <hr>
                        <p>سۆرانی</p>
                        <p style="font-size: large">{{ word.sorani }}</p>
                        <hr>
                        <p>مثال</p>
                        <p>{{ word.simple_sorani }}</p>
                        <hr>
                        <p> اگر معنی این کلمە اشتباە است روی دکمە ✎(مداد) زیر کلیک کنید</p>
                        <hr>
                        <a href="/words/{{ word.id }}"><img src="{% static 'images/Edit.png' %}" alt="" class="u-image u-image-default u-image-3"
                             data-image-width="16"
                             data-image-height="16"></a>
                    </div>


                </div>
            </div>
        </section>
    {% endfor %}

<section class="u-clearfix u-grey-90 u-section-3" id="sec-b0e2">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-border-5 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>

{% endblock %}
