{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block header_ref %}
    <link rel="stylesheet" href="{% static 'Page-1.css' %}">
{% endblock %}

{% block content %}
    <section class="u-clearfix u-grey-90 u-section-3" id="carousel_4793">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h1 class="u-align-center u-text u-text-default u-title u-text-1">!نیست&nbsp;</h1>
                                <p class="u-align-center u-text u-text-default u-text-2">این کلمە رو نداریم پس معادل این
                                    کلمە رو برای بفرستید و یا اگر شما هم نمیدانید فقط بە ما اطلاع دهید تا در اسرع وقت
                                    این کلمە رو اضافە کنیم و جواب آن را برای شما بفرستیم و در پروفایل خود میتوانید
                                    درخواست های خود و جواب درخواست خود را مشاهدە کنید</p>
                                <a href="/words/{{ wid }}"
                                   class="u-border-radius-10 u-btn u-btn-round u-button-style u-palette-2-base u-btn-1">میخوام
                                    اطلاع دهم</a>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-image-contain u-layout-cell u-right-cell u-size-30 u-image-1">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}