{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block header_ref %}
    <link rel="stylesheet" href="{% static 'Page-1.css' %}">
{% endblock %}


{% block content %}
    <section class="u-clearfix u-grey-90 u-section-5" id="carousel_6953">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h1 class="u-align-center u-text u-text-default u-title u-text-1">صدای شما</h1>
                  <p class="u-align-center u-text u-text-default u-text-2">بە گوش ما رسید و ما از این نظرات و انتقادات استفادە خواهیم کرد و بە یاد داشتە باشید این وب سایت با شما جلو خواهد رفت&nbsp;</p>
                  <a href="/profile" class="u-border-radius-10 u-btn u-btn-round u-button-style u-palette-4-base u-btn-1">برگشت بە پروفایل</a>
                </div>
              </div>
              <div class="u-container-style u-image u-image-contain u-layout-cell u-right-cell u-size-30 u-image-1">
                <img src="{% static 'images/people.png' %}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock%}