{% extends "shared/_MainLayout.html" %}
{% load static %}
{% block header_ref %}
    <link rel="stylesheet" href="{% static 'nicepage.css' %}">
    <style class="u-style">.u-section-2 {
        background-image: none
    }

    .u-section-2 .u-sheet-1 {
        min-height: 1021px
    }

    .u-section-2 .u-group-1 {
        width: 535px;
        min-height: 962px;
        height: auto;
        margin: 58px auto 0 0
    }

    .u-section-2 .u-container-layout-1 {
        padding: 30px 45px 30px 30px
    }

    .u-section-2 .u-text-1 {
        font-size: 3.75rem;
        font-weight: 700;
        margin: 231px 0 0
    }

    .u-section-2 .u-text-2 {
        margin: 28px 0 0
    }

    .u-section-2 .u-text-3 {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 0
    }

    .u-section-2 .u-text-4 {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 0
    }

    .u-section-2 .u-image-1 {
        float: left;
        width: 200px;
        height: 200px;
        background-image: url("https://images03.nicepage.io/cf2cc6752a2dcaba8a9b3b5b/b47ff2cef0285617abeba882/photo_1399-07-15_14.16.30.png");
        background-position: 50% 50%;
        margin: 0 10px 10px 0
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 605px;
        margin: -893px 0 58px auto
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 104px
    }

    .u-section-2 .u-container-layout-2 {
        padding: 30px
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 367px
    }

    .u-section-2 .u-container-layout-3 {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
        padding: 30px
    }

    .u-section-2 .u-icon-1 {
        height: 75px;
        width: 75px;
        background-image: none;
        margin: 0 0 0 auto
    }

    .u-section-2 .u-text-5 {
        margin: 20px 0 0 auto
    }

    .u-section-2 .u-text-6 {
        font-weight: 700;
        line-height: 22px;
        font-style: normal;
        margin: 20px 0 0
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 395px
    }

    .u-section-2 .u-container-layout-4 {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
        padding: 30px
    }

    .u-section-2 .u-icon-2 {
        height: 75px;
        width: 75px;
        background-image: none;
        margin: 0 0 0 auto
    }

    .u-section-2 .u-text-7 {
        margin: 20px 0 0 auto
    }

    .u-section-2 .u-text-8 {
        line-height: 26px;
        font-style: normal;
        margin: 20px auto 0 0
    }

    .u-section-2 .u-layout-cell-4 {
        min-height: 354px
    }

    .u-section-2 .u-container-layout-5 {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
        padding: 30px
    }

    .u-section-2 .u-icon-3 {
        height: 75px;
        width: 75px;
        background-image: none;
        margin: 61px 0 0 auto
    }

    .u-section-2 .u-text-9 {
        margin: 20px 0 0 auto
    }

    .u-section-2 .u-text-10 {
        line-height: 1.8;
        font-style: italic;
        margin: 20px 1px 0 20px
    }

    .u-section-2 .u-layout-cell-5 {
        min-height: 378px
    }

    .u-section-2 .u-container-layout-6 {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
        padding: 30px
    }

    .u-section-2 .u-icon-4 {
        height: 75px;
        width: 75px;
        background-image: none;
        margin: 0 0 0 auto
    }

    .u-section-2 .u-text-11 {
        margin: 20px 0 0 auto
    }

    .u-section-2 .u-text-12 {
        line-height: 1.8;
        font-style: italic;
        margin: 20px 0 0 auto
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 104px
    }

    .u-section-2 .u-container-layout-7 {
        padding: 30px
    }

    @media (max-width: 1199px) {
        .u-section-2 .u-group-1 {
            width: 441px
        }

        .u-section-2 .u-layout-wrap-1 {
            width: 499px
        }
    }

    @media (max-width: 991px) {
        .u-section-2 .u-sheet-1 {
            min-height: 1308px
        }

        .u-section-2 .u-group-1 {
            min-height: 388px;
            margin-right: initial;
            margin-left: initial;
            width: auto
        }

        .u-section-2 .u-container-layout-1 {
            padding-top: 18px;
            padding-bottom: 18px;
            padding-right: 30px
        }

        .u-section-2 .u-layout-wrap-1 {
            margin-right: initial;
            margin-left: initial;
            width: auto
        }

        .u-section-2 .u-layout-cell-2 {
            min-height: 345px
        }

        .u-section-2 .u-layout-cell-3 {
            min-height: 345px
        }

        .u-section-2 .u-layout-cell-4 {
            min-height: 345px
        }

        .u-section-2 .u-icon-3 {
            margin-left: 11px
        }

        .u-section-2 .u-layout-cell-5 {
            min-height: 345px
        }
    }

    @media (max-width: 767px) {
        .u-section-2 .u-sheet-1 {
            min-height: 1042px
        }

        .u-section-2 .u-layout-cell-1 {
            min-height: 186px
        }

        .u-section-2 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px
        }

        .u-section-2 .u-layout-cell-2 {
            min-height: 100px
        }

        .u-section-2 .u-layout-cell-3 {
            min-height: 100px
        }

        .u-section-2 .u-layout-cell-4 {
            min-height: 100px
        }

        .u-section-2 .u-layout-cell-5 {
            min-height: 100px
        }

        .u-section-2 .u-layout-cell-6 {
            min-height: 186px
        }

        .u-section-2 .u-container-layout-7 {
            padding-left: 10px;
            padding-right: 10px
        }
    }

    @media (max-width: 575px) {
        .u-section-2 .u-sheet-1 {
            min-height: 836px
        }

        .u-section-2 .u-container-layout-1 {
            padding-right: 10px;
            padding-left: 10px
        }

        .u-section-2 .u-text-1 {
            font-size: 3rem
        }

        .u-section-2 .u-layout-cell-1 {
            min-height: 213px
        }

        .u-section-2 .u-container-layout-3 {
            padding-left: 10px;
            padding-right: 10px
        }

        .u-section-2 .u-container-layout-4 {
            padding-left: 20px;
            padding-right: 20px
        }

        .u-section-2 .u-container-layout-5 {
            padding-left: 20px;
            padding-right: 20px
        }

        .u-section-2 .u-text-10 {
            margin-left: 0;
            margin-right: 0
        }

        .u-section-2 .u-container-layout-6 {
            padding-left: 20px;
            padding-right: 20px
        }

        .u-section-2 .u-layout-cell-6 {
            min-height: 213px
        }

        .u-section-2 .u-container-layout-7 {
            padding-left: 20px;
            padding-right: 20px
        }
    }</style>
{% endblock %}


{% block content %}
    <section class="u-align-left u-clearfix u-grey-90 u-section-2" id="carousel_dd20">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-right u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-1" spellcheck="false">ما بە شما نیاز داریم</h2>
                    <p class="u-custom-font u-font-roboto u-text u-text-2" spellcheck="false">باهوز یک تیم و یک خانوادە
                        برای ارتقای سطح زبان کردی در کشور است و همانطور کە ما بر این باوریم کە کردی فقط مخصوص کردها نیست
                        همانند زبان های زندە دیگر جهان کردی هم شایستە خدمت است و ما در حال ساخت زیر ساخت برای آموزش کردی
                        بە تمام مردم عزیز ایران و خارج ایران هستیم کە در آیندە نزدیک زبان کردی را در سطح زبان های دیگر
                        در جهان ببینیم ، پس اگر میتوانید در هر زمینە ای بە ما کمک کنید همین حالا با ما تماس بگیرید از
                        برنامە نویس تا ایدە پرداز مورد نیاز باهوز است<br>
                    </p>
                    <blockquote class="u-align-right u-custom-font u-text u-text-default u-text-3" spellcheck="false">
                        برای دریافت اطلاعات بیشتر و آشنایی بیشتر با نحوەی همکار با تیم باهوز و برای&nbsp; پرسیدن سوالات
                        خود و رسیدن بە جواب آن با شمارەی زیر تماس حاصل فرمایید<br>
                    </blockquote>
                    <p class="u-align-right u-custom-font u-heading-font u-text u-text-default u-text-4"></p>
                    <div class="u-image u-image-circle u-image-1" data-image-width="640" data-image-height="640"></div>
                    مدیر بخش کردی و مدیر بخش برنامە های باهوز و زبان کردی تیم <br>٠٩١٨٤١٦٧٢٧٥<br>
                    <p></p>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-1">
                                    <div class="u-container-layout u-container-layout-2"></div>
                                </div>
                                <div class="u-container-style u-grey-80 u-layout-cell u-left-cell u-radius-2 u-shape-round u-size-20 u-size-30-md u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3"><span
                                            class="u-icon u-icon-circle u-palette-1-base u-spacing-16 u-icon-1"><svg
                                            class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 55 55"
                                            style=""><use xlink:href="#svg-12a3"></use></svg><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                            xml:space="preserve" class="u-svg-content" viewBox="0 0 55 55" x="0px"
                                            y="0px" id="svg-12a3" style="enable-background:new 0 0 55 55;"><path d="M49,0c-3.309,0-6,2.691-6,6c0,1.035,0.263,2.009,0.726,2.86l-9.829,9.829C32.542,17.634,30.846,17,29,17
	s-3.542,0.634-4.898,1.688l-7.669-7.669C16.785,10.424,17,9.74,17,9c0-2.206-1.794-4-4-4S9,6.794,9,9s1.794,4,4,4
	c0.74,0,1.424-0.215,2.019-0.567l7.669,7.669C21.634,21.458,21,23.154,21,25s0.634,3.542,1.688,4.897L10.024,42.562
	C8.958,41.595,7.549,41,6,41c-3.309,0-6,2.691-6,6s2.691,6,6,6s6-2.691,6-6c0-1.035-0.263-2.009-0.726-2.86l12.829-12.829
	c1.106,0.86,2.44,1.436,3.898,1.619v10.16c-2.833,0.478-5,2.942-5,5.91c0,3.309,2.691,6,6,6s6-2.691,6-6c0-2.967-2.167-5.431-5-5.91
	v-10.16c1.458-0.183,2.792-0.759,3.898-1.619l7.669,7.669C41.215,39.576,41,40.26,41,41c0,2.206,1.794,4,4,4s4-1.794,4-4
	s-1.794-4-4-4c-0.74,0-1.424,0.215-2.019,0.567l-7.669-7.669C36.366,28.542,37,26.846,37,25s-0.634-3.542-1.688-4.897l9.665-9.665
	C46.042,11.405,47.451,12,49,12c3.309,0,6-2.691,6-6S52.309,0,49,0z M11,9c0-1.103,0.897-2,2-2s2,0.897,2,2s-0.897,2-2,2
	S11,10.103,11,9z M6,51c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S8.206,51,6,51z M33,49c0,2.206-1.794,4-4,4s-4-1.794-4-4
	s1.794-4,4-4S33,46.794,33,49z M29,31c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S32.309,31,29,31z M47,41c0,1.103-0.897,2-2,2
	s-2-0.897-2-2s0.897-2,2-2S47,39.897,47,41z M49,10c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S51.206,10,49,10z"></path></svg></span>
                                        <h4 class="u-align-left u-custom-font u-font-oswald u-text u-text-default u-text-5">
                                            اصولی بودی<br>
                                        </h4>
                                        <p class="u-align-right u-small-text u-text u-text-variant u-text-6">وقتی وارد
                                            تیم باهوز شوید بە راحتی خواهید فهمید همە چیز بر اساس یک نقشە راه جلو
                                            میرە</p>
                                    </div>
                                </div>
                                <div class="u-align-right u-container-style u-grey-80 u-layout-cell u-left-cell u-size-20 u-size-60-md u-layout-cell-3">
                                    <div class="u-container-layout u-valign-middle u-container-layout-4"><span
                                            class="u-icon u-icon-circle u-palette-2-base u-spacing-16 u-icon-2"><svg
                                            class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60"
                                            style=""><use xlink:href="#svg-1bd0"></use></svg><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                            xml:space="preserve" class="u-svg-content" viewBox="0 0 60 60" x="0px"
                                            y="0px" id="svg-1bd0" style="enable-background:new 0 0 60 60;"><path d="M56.99,13.5H55v-3H45v3h-4V7.706C41,5.938,39.562,4.5,37.794,4.5H22.206C20.438,4.5,19,5.938,19,7.706V13.5h-4v-3H5v3H3.01  C1.351,13.5,0,14.851,0,16.51v35.98c0,1.659,1.351,3.01,3.01,3.01h53.98c1.659,0,3.01-1.351,3.01-3.01V16.51  C60,14.851,58.649,13.5,56.99,13.5z M47,12.5h6v1h-6V12.5z M21,7.706C21,7.041,21.541,6.5,22.206,6.5h15.588  C38.459,6.5,39,7.041,39,7.706V13.5H21V7.706z M19,15.5h22h4h5v38H10v-38h5H19z M7,12.5h6v1H7V12.5z M2,52.49V16.51  c0-0.557,0.453-1.01,1.01-1.01H5h3v38H3.01C2.453,53.5,2,53.047,2,52.49z M58,52.49c0,0.557-0.453,1.01-1.01,1.01H52v-38h3h1.99  c0.557,0,1.01,0.453,1.01,1.01V52.49z"></path></svg></span>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-7">تنوع
                                            مکانی<br>
                                        </h4>
                                        <p class="u-custom-font u-heading-font u-text u-text-default u-text-8">باهوز بە
                                            شما تنوع میدهد چون&nbsp; باهوز در کشورهای عراق و ترکیە هم قصد فعالیت دارد،
                                            پس شما با افراد&nbsp; و دوستان جدید آشنا خواهید شد<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-right u-container-style u-grey-75 u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-4">
                                    <div class="u-container-layout u-container-layout-5"><span
                                            class="u-icon u-icon-circle u-palette-4-base u-spacing-16 u-icon-3"><svg
                                            class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60"
                                            style=""><use xlink:href="#svg-2410"></use></svg><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                            xml:space="preserve" class="u-svg-content" viewBox="0 0 60 60" x="0px"
                                            y="0px" id="svg-2410" style="enable-background:new 0 0 60 60;"><g><path d="M55.201,15.5h-8.524l-4-10H17.323l-4,10H12v-5H6v5H4.799C2.152,15.5,0,17.652,0,20.299v29.368
		C0,52.332,2.168,54.5,4.833,54.5h50.334c2.665,0,4.833-2.168,4.833-4.833V20.299C60,17.652,57.848,15.5,55.201,15.5z M8,12.5h2v3H8
		V12.5z M58,49.667c0,1.563-1.271,2.833-2.833,2.833H4.833C3.271,52.5,2,51.229,2,49.667V20.299C2,18.756,3.256,17.5,4.799,17.5H6h6
		h2.677l4-10h22.646l4,10h9.878c1.543,0,2.799,1.256,2.799,2.799V49.667z"></path><path d="M30,14.5c-9.925,0-18,8.075-18,18s8.075,18,18,18s18-8.075,18-18S39.925,14.5,30,14.5z M30,48.5c-8.822,0-16-7.178-16-16
		s7.178-16,16-16s16,7.178,16,16S38.822,48.5,30,48.5z"></path><path d="M30,20.5c-6.617,0-12,5.383-12,12s5.383,12,12,12s12-5.383,12-12S36.617,20.5,30,20.5z M30,42.5c-5.514,0-10-4.486-10-10
		s4.486-10,10-10s10,4.486,10,10S35.514,42.5,30,42.5z"></path><path d="M52,19.5c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S54.206,19.5,52,19.5z M52,25.5c-1.103,0-2-0.897-2-2s0.897-2,2-2
		s2,0.897,2,2S53.103,25.5,52,25.5z"></path>
</g></svg></span>
                                        <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-9">سادە اما
                                            حرفە ای<br>
                                        </h4>
                                        <p class="u-align-right u-text u-text-white u-text-10">محیط دوستانە باهوز بە شما
                                            انگیزە و شوق کار میدهد ، ما باوری بە سخت کردن مسائل سادە نداریم<br>
                                        </p>
                                    </div>
                                </div>
                                <div class="u-container-style u-grey-80 u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-5">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6"><span
                                            class="u-icon u-icon-circle u-palette-3-base u-spacing-16 u-icon-4"><svg
                                            class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60"
                                            style=""><use xlink:href="#svg-2968"></use></svg><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                            xml:space="preserve" class="u-svg-content" viewBox="0 0 60 60" x="0px"
                                            y="0px" id="svg-2968" style="enable-background:new 0 0 60 60;"><g><path d="M55.201,15.5h-8.524l-4-10H17.323l-4,10H12v-5H6v5H4.799C2.152,15.5,0,17.652,0,20.299v29.368
		C0,52.332,2.168,54.5,4.833,54.5h50.334c2.665,0,4.833-2.168,4.833-4.833V20.299C60,17.652,57.848,15.5,55.201,15.5z M8,12.5h2v3H8
		V12.5z M58,49.667c0,1.563-1.271,2.833-2.833,2.833H4.833C3.271,52.5,2,51.229,2,49.667V20.299C2,18.756,3.256,17.5,4.799,17.5H6h6
		h2.677l4-10h22.646l4,10h9.878c1.543,0,2.799,1.256,2.799,2.799V49.667z"></path><path d="M30,14.5c-9.925,0-18,8.075-18,18s8.075,18,18,18s18-8.075,18-18S39.925,14.5,30,14.5z M30,48.5c-8.822,0-16-7.178-16-16
		s7.178-16,16-16s16,7.178,16,16S38.822,48.5,30,48.5z"></path><path d="M30,20.5c-6.617,0-12,5.383-12,12s5.383,12,12,12s12-5.383,12-12S36.617,20.5,30,20.5z M30,42.5c-5.514,0-10-4.486-10-10
		s4.486-10,10-10s10,4.486,10,10S35.514,42.5,30,42.5z"></path><path d="M52,19.5c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S54.206,19.5,52,19.5z M52,25.5c-1.103,0-2-0.897-2-2s0.897-2,2-2
		s2,0.897,2,2S53.103,25.5,52,25.5z"></path>
</g></svg></span>
                                        <h4 class="u-align-right u-custom-font u-font-oswald u-text u-text-default u-text-11">
                                            مثل همە اما متفاوت<br>
                                        </h4>
                                        <p class="u-align-right u-text u-text-default u-text-grey-50 u-text-12">باهوز
                                            مثل تیم و شرکت های دیگر دیکشنری است اما تفاوت ما این است ، کە ما متفاوت فکر
                                            میکنیم در کل ما متفاوتیم<br>
                                        </p>
                                    </div>
                                </div>
                                <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-20 u-size-60-md u-layout-cell-6">
                                    <div class="u-container-layout u-container-layout-7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}