{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block header_ref %}
    <link rel="stylesheet" href="{% static 'santenam.css' %}" media="screen">
{% endblock %}

{% block content %}
    <section class="u-align-left u-clearfix u-grey-90 u-section-1" id="sec-b284">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">خوشحالیم که برگشتید</h2>
        <p class="u-align-center u-text u-text-2">اطلاعات شما پیش ما امن است پس نگران هیچ چیز نباشید</p>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-form u-form-1">
                    <form  method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-34 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form" redirect="true">
                      <div class="u-form-group u-form-name u-form-group-1">
                          {% csrf_token %}
                          {{ form }}
                      </div>


                      <div class="u-align-center u-form-group u-form-submit u-form-group-7">
                        <a href="#" class="u-border-radius-10 u-btn u-btn-round u-btn-submit u-button-style u-palette-3-base u-btn-1">ورود بە حساب کاربری<br>
                        </a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <img src="{% static 'images/man2.png' %}" alt="" class="u-flip-horizontal u-image u-image-default u-image-1" data-image-width="227" data-image-height="294">
                  <div class="u-border-4 u-border-palette-3-base u-line u-line-vertical u-line-1"></div>
                  <div class="u-align-right u-border-radius-13 u-container-style u-grey-80 u-group u-shape-round u-group-1">
                    <div class="u-container-layout u-container-layout-3">
                      <p>   دوست عزیز رمز و پسورد خود را در اختیار هیچکس قرار ندهید چون تمام مسئولیت دادەهایی که اضافه میشود بر عهدە شماست</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}