{% extends "shared/_MainLayout.html" %}
{% block header_ref %}
    <style class="u-style">.u-section-2 {
        background-image: url("https://images03.nicepage.io/cf2cc6752a2dcaba8a9b3b5b/814a08b492d55dd780094154/max-duzij-qAjJk-un3BI-unsplash.jpg");
        background-position: 50% 50%
    }

    .u-section-2 .u-sheet-1 {
        min-height: 500px
    }

    .u-section-2 .u-text-1 {
        font-size: 3.75rem;
        font-weight: 700;
        margin: 60px auto 0
    }

    .u-section-2 .u-text-2 {
        width: 613px;
        font-weight: 700;
        margin: 20px auto 0
    }

    .u-section-2 .u-form-1 {
        width: 570px;
        margin: 30px auto 60px
    }

    .u-section-2 .u-btn-1 {
        border-style: none
    }

    @media (max-width: 767px) {
        .u-section-2 .u-text-1 {
            margin-left: 47px;
            margin-right: 47px
        }

        .u-section-2 .u-text-2 {
            margin-left: 0;
            margin-right: 0;
            width: 540px
        }

        .u-section-2 .u-form-1 {
            width: 540px;
            margin-left: 0;
            margin-right: 0
        }
    }

    @media (max-width: 575px) {
        .u-section-2 .u-text-1 {
            font-size: 3rem;
            margin-left: 0;
            margin-right: 0
        }

        .u-section-2 .u-text-2 {
            width: 340px
        }

        .u-section-2 .u-form-1 {
            width: 340px
        }

        .u-section-2 .u-form-group-1 {
            width: 100%
        }

        .u-section-2 .u-form-group-2 {
            width: 100%
        }
    }</style>
    <style class="u-style">.u-section-3 .u-sheet-1 {
        min-height: 647px
    }

    .u-section-3 .u-text-1 {
        margin: 12px auto 0
    }

    .u-section-3 .u-list-1 {
        min-height: 490px;
        grid-template-columns: repeat(3, 33.3333%);
        grid-template-rows: repeat(1, auto);
        height: auto;
        grid-gap: 10px;
        margin: 12px auto 60px 0
    }

    .u-section-3 .u-list-item-1 {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1)
    }

    .u-section-3 .u-container-layout-1 {
        padding: 30px
    }

    .u-section-3 .u-image-1 {
        height: 243px;
        margin: 0 auto 0 0
    }

    .u-section-3 .u-text-2 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0 0
    }

    .u-section-3 .u-text-3 {
        margin: 20px auto 0 0
    }

    .u-section-3 .u-text-4 {
        font-weight: 700;
        margin: 20px auto 0 0
    }

    .u-section-3 .u-btn-1 {
        text-transform: uppercase;
        font-weight: 700;
        margin: -45px 0 0 auto
    }

    .u-section-3 .u-list-item-2 {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1)
    }

    .u-section-3 .u-container-layout-2 {
        padding: 30px
    }

    .u-section-3 .u-image-2 {
        height: 243px;
        margin: 0 auto 0 0
    }

    .u-section-3 .u-text-5 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0 0
    }

    .u-section-3 .u-text-6 {
        margin: 20px auto 0 0
    }

    .u-section-3 .u-text-7 {
        font-weight: 700;
        margin: 20px auto 0 0
    }

    .u-section-3 .u-btn-2 {
        text-transform: uppercase;
        font-weight: 700;
        margin: -45px 0 0 auto
    }

    .u-section-3 .u-list-item-3 {
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1)
    }

    .u-section-3 .u-container-layout-3 {
        padding: 30px
    }

    .u-section-3 .u-image-3 {
        height: 243px;
        margin: 0 auto 0 0
    }

    .u-section-3 .u-text-8 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0 0
    }

    .u-section-3 .u-text-9 {
        margin: 20px auto 0 0
    }

    .u-section-3 .u-text-10 {
        font-weight: 700;
        margin: 20px auto 0 0
    }

    .u-section-3 .u-btn-3 {
        text-transform: uppercase;
        font-weight: 700;
        margin: -45px 0 0 auto
    }

    @media (max-width: 1199px) {
        .u-section-3 .u-sheet-1 {
            min-height: 562px
        }

        .u-section-3 .u-list-1 {
            min-height: 404px;
            grid-template-columns: repeat(3, 33.333333333333336%);
            margin-right: initial;
            margin-left: initial
        }

        .u-section-3 .u-image-1 {
            height: NaNpx;
            margin-right: initial;
            margin-left: initial
        }

        .u-section-3 .u-text-2 {
            margin-left: 0;
            margin-right: 0
        }

        .u-section-3 .u-image-2 {
            height: NaNpx;
            margin-right: initial;
            margin-left: initial
        }

        .u-section-3 .u-text-5 {
            margin-left: 0;
            margin-right: 0
        }

        .u-section-3 .u-image-3 {
            height: NaNpx;
            margin-right: initial;
            margin-left: initial
        }

        .u-section-3 .u-text-8 {
            margin-left: 0;
            margin-right: 0
        }
    }

    @media (max-width: 991px) {
        .u-section-3 .u-sheet-1 {
            min-height: 1081px
        }

        .u-section-3 .u-list-1 {
            min-height: 928px;
            grid-template-columns: repeat(2, 50%);
            margin-right: initial;
            margin-left: initial
        }
    }

    @media (max-width: 767px) {
        .u-section-3 .u-sheet-1 {
            min-height: 1611px
        }

        .u-section-3 .u-list-1 {
            min-height: 1479px;
            grid-template-columns: 100%;
            width: 540px;
            margin-right: auto;
            margin-left: -3px
        }

        .u-section-3 .u-container-layout-1 {
            padding-left: 10px;
            padding-right: 10px
        }

        .u-section-3 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px
        }

        .u-section-3 .u-container-layout-3 {
            padding-left: 10px;
            padding-right: 10px
        }
    }

    @media (max-width: 575px) {
        .u-section-3 .u-sheet-1 {
            min-height: 1464px
        }

        .u-section-3 .u-list-1 {
            min-height: 931px;
            width: 340px;
            margin-left: 0
        }
    }</style>
    <style class="u-style">.u-section-4 .u-sheet-1 {
        min-height: 730px
    }

    .u-section-4 .u-product-1 {
        min-height: 574px;
        height: auto;
        margin: 60px auto 60px 0
    }

    .u-section-4 .u-container-layout-1 {
        padding: 30px 0 30px 30px
    }

    .u-section-4 .u-image-1 {
        width: 540px;
        height: 514px;
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
        margin: 0 auto 0 0
    }

    .u-section-4 .u-group-1 {
        width: 512px;
        min-height: 514px;
        margin: -514px 0 0 auto
    }

    .u-section-4 .u-container-layout-2 {
        padding: 30px
    }

    .u-section-4 .u-line-1 {
        width: 43px;
        height: 3px;
        transform-origin: left center;
        margin: 0 auto 0 0
    }

    .u-section-4 .u-text-1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 20px 0 0 60px
    }

    .u-section-4 .u-product-price-1 {
        margin: 22px 0 0 auto
    }

    .u-section-4 .u-text-2 {
        font-weight: 700;
        font-size: 1.125rem;
        margin: 18px 0 0 auto
    }

    .u-section-4 .u-btn-1 {
        border-style: none;
        letter-spacing: 3px;
        background-image: none;
        text-transform: uppercase;
        font-weight: 400;
        margin: 28px 0 0 auto;
        padding: 10px 65px
    }

    @media (max-width: 1199px) {
        .u-section-4 .u-product-1 {
            margin-right: initial;
            margin-left: initial
        }

        .u-section-4 .u-image-1 {
            width: 440px
        }

        .u-section-4 .u-group-1 {
            width: 470px
        }

        .u-section-4 .u-container-layout-2 {
            padding-left: 40px
        }
    }

    @media (max-width: 991px) {
        .u-section-4 .u-sheet-1 {
            min-height: 638px
        }

        .u-section-4 .u-product-1 {
            min-height: 477px;
            margin-right: initial;
            margin-left: initial
        }

        .u-section-4 .u-container-layout-1 {
            padding-right: 0
        }

        .u-section-4 .u-image-1 {
            width: 330px;
            height: 417px
        }

        .u-section-4 .u-group-1 {
            width: 360px;
            min-height: 417px;
            margin-top: -417px
        }

        .u-section-4 .u-text-1 {
            font-size: 2.25rem
        }
    }

    @media (max-width: 767px) {
        .u-section-4 .u-sheet-1 {
            min-height: 948px
        }

        .u-section-4 .u-product-1 {
            min-height: 836px;
            margin-right: initial;
            margin-left: initial
        }

        .u-section-4 .u-container-layout-1 {
            padding-left: 0
        }

        .u-section-4 .u-image-1 {
            height: 458px;
            margin-right: initial;
            margin-left: initial;
            width: auto
        }

        .u-section-4 .u-group-1 {
            min-height: 318px;
            margin-top: 0;
            margin-right: initial;
            margin-left: initial;
            width: auto
        }

        .u-section-4 .u-container-layout-2 {
            padding-right: 0;
            padding-left: 10px
        }

        .u-section-4 .u-line-1 {
            margin-left: auto
        }
    }

    @media (max-width: 575px) {
        .u-section-4 .u-text-1 {
            font-size: 1.5rem;
            margin-left: 0
        }
    }</style>
{% endblock %}

{% block content %}
    <section class="u-align-center u-clearfix u-section-4" id="carousel_a789">
        <div class="u-clearfix u-sheet u-sheet-1"><!--product--><!--product_options_json--><!--{"source":""}-->
            <!--/product_options_json--><!--product_item-->
            <div class="u-container-style u-expanded-width u-product u-product-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-top-sm u-valign-top-xs u-container-layout-1">
                    <!--product_image-->
                    <img alt="{{ course.title }}"
                         class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-product-control u-image-1"
                         src="{{ course.poster.url }}">
                    <!--/product_image-->
                    <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <div class="u-border-3 u-border-palette-4-base u-line u-line-horizontal u-line-1"></div>
                            <!--product_title-->
                            <h2 class="u-align-right u-custom-font u-font-merriweather u-product-control u-text u-text-1">
                                <a class="u-product-title-link" href="#">{{ course.title }}</a>
                            </h2><!--/product_title--><!--product_price-->
                            <div class="u-custom-font u-font-merriweather u-product-control u-product-price u-product-price-1">
                                <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                    <div class="u-hide-price u-old-price"
                                         style="text-decoration: line-through !important;" wfd-invisible="true">
                                        <!--product_old_price_content--><!--/product_old_price_content--></div>
                                    <!--/product_old_price--><!--product_regular_price-->
                                    <div class="u-price u-text-palette-4-base"
                                         style="font-size: 1.5rem; font-weight: 700;">
                                        <!--product_regular_price_content-->${{ course.price }}
                                        <!--/product_regular_price_content--></div><!--/product_regular_price-->
                                </div>
                            </div><!--/product_price--><!--product_content-->
                            <div class="u-align-right u-product-control u-product-desc u-text u-text-default u-text-2">
                                <!--product_content_content-->
                                <p>{{ course.des }}</p><!--/product_content_content-->
                            </div><!--/product_content--><!--product_button--><!--options_json-->
                            <!--{"clickType":"add-to-cart"}--><!--/options_json-->
                            {% for download in downloads %}
                                <a href="{{ download.url_download }}"
                                   class="u-btn u-button-style u-hover-grey-75 u-palette-4-base u-product-control u-btn-1">
                                    <!--product_button_content-->{{download.title }}<!--/product_button_content--></a>
                            {% endfor %}

                            <!--/product_button-->
                        </div>
                    </div>
                </div>
            </div><!--/product_item--><!--/product-->
        </div>
    </section>
{% endblock %}